{{extend 'layout.html'}}


 <link rel="stylesheet" href="{{=URL('static', 'js_and_css/ui.theme.css')}}" type="text/css" />
  <link rel="stylesheet" href="{{=URL('static', 'js_and_css/jquery-ui.css')}}" type="text/css" />
  <link rel="stylesheet" href="{{=URL('static', 'js_and_css/style.css')}}" type="text/css" />
  <script src="{{=URL('static','js_and_css/jquery-1.8.2.js')}}"></script>
  <script src="{{=URL('static','js_and_css/jquery-ui.js')}}"></script>
<style>
body {
  font-family: "Lato", sans-serif;
}



#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
 
  <style type="text/css">
.password-mask {
/*  display: inline-block;*/
/*  padding: 2px;
  background-color: black;
  color: black;
  font-size: 0;
  line-height: 1;
  letter-spacing: 0.5em;*/
  -webkit-text-security: disc;
  -moz-binding: url('https://example.com#fake_moz_binding');
}


 input[type=text], input[type=password],  select {
    margin: 2px 0px 2px 0px;
	width:250px;
}

select{ width:265px; margin:2px 0px 2px 0px;}

textarea{
    width:250px;
	height:50px;
	margin:2px 0px 2px 0px;
}

div.error {
    margin-left:0px;
	width:265px;
}
.page_color,body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	}
	
#uni_middle_str4{
width:100px;
}

 </style>

<script>


var base_url=location.protocol + "//" + location.hostname + (location.port && ":" + location.port) + "/{{=request.application}}/";

$(function() {

// ====================================== DEPOT ID NAME AUTO COMPLETE START ================================
    var depot_Str="";  
      // alert(base_url+'default/get_depot_list',)
      $.ajax({
        url: base_url+'default/get_depot_list',
        success: function(retStr) {
          depot_Str=retStr 
        }
      }); 

  $('#depot_ID').keyup(function(){
        var ref_list = depot_Str.split(',');  
        var ref_name=$("#depot_ID").val();
        //---------------- auto complete combo list
        var ref_list_new1 =new Array();
        lc=0;
        i =0;
        var refStr="";        
        while (i < ref_list.length)
        {
          refStr=ref_list[i];
          i=i+1;          
          var res=refStr.toUpperCase().match(ref_name.toUpperCase());
          if (res!=null){
            ref_list_new1[lc]=refStr;
            lc=lc+1;
            if (lc==30){
              break;
            };
          }else{
            continue;
          }         
        };
        //-------------- auto complete source
        $( "input#depot_ID" ).autocomplete({
          source: ref_list_new1
        });
      
      }); 
// ============================================ DEPOT ID NAME AUTO COMPLETE END ==============================
 
// ============================================ COUNTER CUSTOMER ID NAME PHONE NUMBER AUTO COMPLETE START =============================
var discount_typeStr="";  
   
    // alert(base_url+'counter_customer/get_counter_customer_list')
    $.ajax({
      url: base_url+'counter_customer/get_counter_customer_list',
      success: function(retStr) {
        discount_typeStr=retStr 
      }
    }); 

$('#customer_id').keyup(function(){
      // alert('ok')
      //-------------------------
      var ref_list = discount_typeStr.split(',');  
      var ref_name=$("#customer_id").val();
      //---------------- auto complete combo list
      var ref_list_new1 =new Array();
      lc=0;
      i =0;
      var refStr="";        
      while (i < ref_list.length)
      {
        refStr=ref_list[i];
        i=i+1;          
        var res=refStr.toUpperCase().match(ref_name.toUpperCase());
        if (res!=null){
          ref_list_new1[lc]=refStr;
          lc=lc+1;
          if (lc==30){
            break;
          };
        }else{
          continue;
        }         
      };
      
      //-------------- auto complete source
      $( "input#customer_id" ).autocomplete({
        source: ref_list_new1
      });
    
    }); 
// ============================================ CUSTOMER ID NAME PHONE NUMBER AUTO COMPLETE END =============================
 

// -----------------------------------
});


</script>  


<table width="100%"   border="0" cellspacing="0" cellpadding="0" style="background-color:#F5F5F5;" >
 
  <tr  height="1px" >
    <td colspan="3" ></td>
  </tr>

  <tr>
    <td>

<table border="0" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF;" >
  <tr height="30px" >
    <td width="100%" style="background-color:#FFFFFF;" ><span class="blackCatTitle">&nbsp;Counter Customer List</span></td>
  <td width="500" >&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr  height="1px" style="background-color:#CCCCCC;">
    <td colspan="3" ></td>
  </tr>
</table>

<table width="100%" align="left" height="100%" border="0"  cellpadding="0" cellspacing="0" style="margin-left:auto;margin-right:auto;background-color:#F5F5F5;" >
  
  <tr>
    <td valign="middle">

      <form  name="form1" action="{{=URL(c='counter_customer',f='counter_customer_list')}}" method="post"  >
                        <!-- FILTERING BY USER TYPE -->

          <table width="100%" border="1" class="sample_border" style="background-color: #EBEBEB;" >
            
             <tr align="left" height="30px"; class="filterRow" style="background:#eee">

              {{ if session.user_type == 'Admin':}}
               <td align="left" width="150px" style="padding-left: 10px;">
                   {{if session.depot_ID=='' or session.depot_ID=='None' or session.depot_ID == None:}}                                         
                   <input  name="depot_ID" type="text" id="depot_ID" size="25" value="" autocomplete="off" placeholder="Depot ID / Name" style="width:150px"/>
                   {{else:}}
                   <input  name="depot_ID" type="text" id="depot_ID" size="25" value="{{=session.depot_ID}} | {{=session.depot_name}}" autocomplete="off" style="width:150px"/>
                   {{pass}}
               </td>
               {{pass}}

             <td align="left" width="50px" style="padding-left: 10px;">
              <select id="gender" name="gender" style="width:130px">
                 {{if session.gender =='' or session.gender=='None' or session.gender == None:}}
                   <option value="">Select Gender</option>
                   <option value="Male">Male</option>
                   <option value="Female">Female</option>
                 {{else:}}
                    <option value="{{=session.gender}}" selected>{{=session.gender}}</option>
                    <option value="Male">Male</option>
                   <option value="Female">Female</option>
                 {{pass}}
              </select>

             </td>
             <td align="left" width="200px" style="padding-left: 10px;">
                 {{if session.customer_id=='' or session.customer_id=='None' or session.customer_id== None:}}                                         
                 <input  name="customer_id" type="text" id="customer_id" size="25" value="" autocomplete="off" placeholder="Customer ID/Name/Phone" style="width:200px"/>
                 {{else:}}
                 <input  name="customer_id" type="text" id="customer_id" size="25" value="{{=session.customer_id}}" autocomplete="off" style="width:200px"/>
                 {{pass}}
             </td>
             <td align="left" width="90px" style="padding-left: 10px;">
                 {{if session.from_age=='' or session.from_age=='None':}}                                         
                 <input  name="from_age" type="number" id="from_age" size="25" value="" autocomplete="off" placeholder="From Age" style="width:80px"/>
                 {{else:}}
                 <input  name="from_age" type="number" id="from_age" size="25" value="{{=session.from_age}}" autocomplete="off" style="width:80px" />
                 {{pass}}
             </td>
             <td align="left" width="90px" style="padding-left: 10px;">    
                 {{if session.to_age=='' or session.to_age=='None':}} 
                 <input align="left" name="to_age" type="number" id="to_age" size="25" placeholder="To Age" autocomplete="off"  value="" style="width:80px"/>
                 {{else:}}
                 <input  name="to_age" type="number" id="to_age" size="25" placeholder="To Age"  autocomplete="off" value="{{=session.to_age}}" style="width:80px"  />
                 {{pass}}
             </td >
             
              <td align="left" style="padding-left: 10px;" >
                   <input  type="submit" name="btn_filter" id="btn_filter" value="Filter" style="vertical-align:middle;height:30px ; width:60px" class="button_update" title=""/>
                   <input type="submit" name="btn_all" id="btn_all" value="All" style="vertical-align:middle;height:30px ; width: 50px;"  class="button_update"/>
              </td>
              {{ if session.user_type == 'Admin':}}
              <td width="120px" align="right">
                  <a href="{{=URL(c='counter_customer',f='counter_customer_batch_upload')}}" style="text-align:left;">
                    <input type="button" name="Input3" id="Input3" value="Batch Upload" style="vertical-align:middle;height:30px ;"  class="button_update"/>&nbsp;
                  </a>
             </td>
             {{else:}}
             <td></td>
             {{pass}}
              <td width="100px" align="right">
                  <a href="{{=URL(c='counter_customer',f='counter_customer_list_Download')}}" style="text-align:left;">
                    <input type="button" name="Input2" id="Input2" value="Download" style="vertical-align:middle;height:30px ;"  class="button_update"/>&nbsp;
                  </a>
             </td>
             </tr>
             <tr>
               <td style="font-family: sans-serif;  font-weight: bold;">Total: {{=len(get_total_record_count)}}</td>
             </tr>
        </table>

    </form>

        
                            <!-- SHOW ALL USER  -->

      <table width="100%" border="1" cellpadding="0" cellspacing="0" class="sample_border" style="background-color:#F5F5F5;margin-left:5px;margin-right:auto;" >
            <tr class="blackCatHead" style="font-size:15px;">
              <!-- <td width="100px">SL</td> -->
              <td width="100px">Customer ID</td>
               <td width="120px">Name</td>
               <td width="120px">Phone</td>
               <td width="80px">Gender</td>
               <td width="80px">Age</td>
               <td width="120px">Customer Category</td>
               <td width="50px">Staff ID</td>
              <td width="100px">Depot ID</td>
              <td width="150px">Depot Name</td>
               <td width="50px"></td>
            </tr>

               {{
                for i in range(len(counter_customerRows)):
                    records_ov_dict=counter_customerRows[i]   
                    record_id=str(records_ov_dict["id"])
                    depot_id=str(records_ov_dict["depot_id"]) 
                    depot_name=str(records_ov_dict["depot_name"])
                    customer_id=str(records_ov_dict["customer_id"])
                    customer_name=str(records_ov_dict["customer_name"])
                    phone=str(records_ov_dict["phone"])
                    gender=str(records_ov_dict["gender"])                                         
                    age=str(records_ov_dict["age"])
                    customer_category=str(records_ov_dict["customer_category"])
                    staff_id=records_ov_dict["staff_id"]
                }}

               <tr align="left" class="blackCat"  style="vertical-align:middle; font-size:12px;"> 
                  <!-- <td width="100px" >{{#=record_id}}</td> -->
                  <td width="150px">{{=customer_id}}</td>
                  <td width="200px">{{=customer_name}}</td>
                  <td width="120px">{{=phone}}</td>
                  <td width="80px">{{=gender}}</td>
                  <td width="80px">{{=age}}</td>
                  <td width="150px">{{=customer_category}}</td>
                  <td width="120px">{{=staff_id}}</td>
                  <td width="120px">{{=depot_id}}</td>
                  <td width="150px">{{=depot_name}}</td>
                   <form  name="form2" action="{{=URL(c='counter_customer',f='counter_customer_edit',args=[record_id,customer_id])}}" method="post" target = blank >
                        <td align="right" width="20px"style="vertical-align:top;">
                            <button type="submit" name="btn_edit" id="btn_edit"  value="" style="border: none;">>></button> 
                        </td>
                  </form> 
              </tr>

              {{pass}}
      </table>

  </td>
  </tr>
  <tr>
    <td>
      {{if page_Number:}}
      <a href="{{=URL(args=[0])}}">First</a> | &nbsp;&nbsp;
      <a href="{{=URL(args=[page_Number-1 if page_Number>0 else 0])}}">Previous</a> |
      {{pass}}
      {{if len(counter_customerRows)>=item_per_page:}}
      &nbsp;&nbsp;
      <a href="{{=URL(args=[page_Number+1])}}">Next &nbsp;&nbsp;</a>
      {{pass}}
    </td>
  </tr>

</table>
</td>

</tr>
</table>