{{extend 'layout.html'}}


<link rel="stylesheet" href="{{=URL('static', 'js_and_css/ui.theme.css')}}" type="text/css" />
<link rel="stylesheet" href="{{=URL('static', 'js_and_css/jquery-ui.css')}}" type="text/css" />
<link rel="stylesheet" href="{{=URL('static', 'js_and_css/style.css')}}" type="text/css" />
<script src="{{=URL('static','js_and_css/jquery-1.8.2.js')}}"></script>
<script src="{{=URL('static','js_and_css/jquery-ui.js')}}"></script>

<style>
    body {
        font-family: "Lato", sans-serif;
    }

    #main {
        transition: margin-left .5s;
        padding: 16px;
    }

    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }
</style>
 
<style type="text/css">
    input[type=text], input[type=password], select {
        margin: 2px 0px 2px 0px;
        width:250px;
    }

    select{ 
        width:265px; margin:2px 0px 2px 0px;
    }

    textarea{
        width:250px;
        height:50px;
        margin:2px 0px 2px 0px;
    }

    div.error {
        margin-left:0px;
        width:265px;
    }
    .page_color,body{
        font-family:Arial, Helvetica, sans-serif;
        font-size:13px;
    }

    #uni_middle_str4{
        width:100px;
    }
</style>


<!-- page heading  -->
<table width="100%"  border="0" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF;" >
	<tr height="30px" >
		<td width="40%" style="background-color:#FFFFFF;">
			<span class="blackCatTitle">&nbsp;Cost Sub-Category</span>
		</td>
		<form action="{{=URL(c='branch_cost_category',f='cost_category')}}" method="post">
			<td width="250" align="left"><input name="" type="submit" value="Back" style="width: 50px;"/></td>
		</form>
		<td align="right" width="20px">&nbsp;</td>
	</tr>
	<tr  height="1px" style="background-color:#CCCCCC;">
		<td colspan="3" ></td>
	</tr>
</table>


<table width="100%" height="500px" border="0" cellspacing="0" cellpadding="0" class="page_color">
    <tr height="100%"  style="vertical-align:top;">
        <td>
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td width="10">&nbsp;</td>
					<td valign="top">
						<br/>
						<table width="100%">
							<tr>
								<td width="">
									<!-- new add -->
                                    <table width="100%" align="left" height="100%" border="0" cellpadding="0" cellspacing="0" style="margin-left: auto; margin-right: auto;">
                                        <tr>
                                            <td height="80%" valign="middle">
                                                <form name="form1" action="{{=URL(c='branch_cost_sub_category',f='cost_sub_category',args=[cat_type])}}" method="post" style="padding: 0;">
                                                    <table width="100%" align="left" cellpadding="2" class="rounded_corner">
                                                        <tr width="100%">
                                                            <td width="20%" style="padding-right: 5px;">
                                                                <select name="search_type" id="search_type" style="width: 250px; height: 30px;">
                                                                    <!-- <option selected="selected" value="">Select a Type</option>
                                                                    {{#for i in range(len(categoryRows)):
                                                                        #data = categoryRows[i]
                                                                        #cat_type = data['category_name']}}
                                                                        <option value="{{#=cat_type}}">{{#=cat_type}}</option>
                                                                    {{#pass}} -->
                                                                    <option value="{{=cat_type}}">{{=cat_type}}</option>
                                                                </select>
                                                            </td>          
                                                            <td width="20%" style="padding-right: 5px;">
                                                                <input type="text" name="sub_cat_type" id="sub_cat_type" size="10" style="width: 250px" placeholder="Sub-Category"/>
                                                            </td>
                                                            <td align="left">
                                                                <input type="submit" name="submit" id="submit" value="Save" style="vertical-align: middle; height: 30px; width: 80px;" class="button_update" title=""/>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </form>
                                            </td>
                                        </tr>
                                    </table>

                                    <table width="100%">
                                        <tr></tr>
                                    </table>

                                    <!-- data show  -->
                                    <table width="60%" border="1" cellpadding="1" cellspacing="1" class="sample_border" style="margin-top: 10px;">
                                        <tr align="left" class="blackCatHead" height="20px" vertical-align:middle>
                                            <td>SL</td>
                                            <td>Category</td> 
                                            <td>Sub-Category</td>
                                            <td></td> 
                                            <td></td>
                                        </tr>
                                        {{sl = 0}}
                                        {{for i in range(len(sub_categoryRows)):
                                            data_rec = sub_categoryRows[i]                                  
                                            cat_id = str(data_rec["category_id"])  
                                            cat_name = str(data_rec["category_name"])  
                                            sub_cat_id = str(data_rec["sub_category_id"])  
                                            sub_cat_name = str(data_rec["sub_category_name"])  

                                            sl += 1
                                        }}
                                            <tr align="left" class="blackCat" style="vertical-align:middle; font-size:12px;"> 
                                                <td>{{=sl}}</td>
                                                <td>{{=cat_name}}</td>
                                                <td>{{=sub_cat_name}}</td>
                                                <form id="form" name="form" action="{{=URL(c='branch_cost_sub_category',f='sub_category_edit',args=[cat_id, sub_cat_id])}}" method="post">
													<td width="40px" align="center">
														<input type="submit" name="btn_update" id="btn_update" value="&gt;&gt;" class="update_btn" style="background: transparent; border: none;"/>
													</td>
												</form>
                                                <form name="form1" action="{{=URL(c='branch_cost_sub_category',f='sub_category_delete',args=[cat_id, sub_cat_id])}}" method="post">
                                                    <td width="40px" align="center">
                                                        <button type="submit" name="btn_delete" id="btn_delete" value="" style="background: transparent; border: none; color: red;" onclick="if (!confirm('Do you really want to delete?')) { return false }">X</button> 
                                                    </td>
                                                </form> 
                                            </tr>
                                        {{pass}}
                                    </table>
								</td>
								</tr>
							</table>
						</form>
					</td>
				</tr>
			</table>            
        </td>
    </tr>
</table>





