{{extend 'layout.html'}}


 <link rel="stylesheet" href="{{=URL('static', 'js_and_css/ui.theme.css')}}" type="text/css" />
  <link rel="stylesheet" href="{{=URL('static', 'js_and_css/jquery-ui.css')}}" type="text/css" />
  <link rel="stylesheet" href="{{=URL('static', 'js_and_css/style.css')}}" type="text/css" />
  <script src="{{=URL('static','js_and_css/jquery-1.8.2.js')}}"></script>
  <script src="{{=URL('static','js_and_css/jquery-ui.js')}}"></script>
<style>
body {
  font-family: "Lato", sans-serif;
}



#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
 
  <style type="text/css">
.password-mask {
/*  display: inline-block;*/
/*  padding: 2px;
  background-color: black;
  color: black;
  font-size: 0;
  line-height: 1;
  letter-spacing: 0.5em;*/
  -webkit-text-security: disc;
  -moz-binding: url('https://example.com#fake_moz_binding');
}


 input[type=text], input[type=password],  select {
    margin: 2px 0px 2px 0px;
	width:250px;
}

select{ width:265px; margin:2px 0px 2px 0px;}

textarea{
    width:250px;
	height:50px;
	margin:2px 0px 2px 0px;
}

div.error {
    margin-left:0px;
	width:265px;
}
.page_color,body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	}
	
#uni_middle_str4{
width:100px;
}

 </style>

<script>


   var base_url=location.protocol + "//" + location.hostname + (location.port && ":" + location.port) + "/{{=request.application}}/";

$(function() {
 
var discount_typeStr="";  
   
    // alert(base_url+'counter_item_stock/get_all_item_list')
    $.ajax({
      url: base_url+'counter_item_stock/get_all_item_list',
      success: function(retStr) {
        // alert (retStr)
        discount_typeStr=retStr 
      }
    }); 
// alert (discount_typeStr)

// =================================
$('#item_id').keyup(function(){
      // alert('ok')
      //-------------------------
      var ref_list = discount_typeStr.split(',');  
      var ref_name=$("#item_id").val();
      // alert(ref_name)
      
      //---------------- auto complete combo list
      var ref_list_new1 =new Array();
      lc=0;
      i =0;
      var refStr="";        
      while (i < ref_list.length)
      {
        refStr=ref_list[i];
        i=i+1;          
        var res=refStr.toUpperCase().match(ref_name.toUpperCase());
        if (res!=null){
          ref_list_new1[lc]=refStr;
          lc=lc+1;
          if (lc==30){
            break;
          };
        }else{
          continue;
        }         
      };
      
      //-------------- auto complete source
      $( "input#item_id" ).autocomplete({
        source: ref_list_new1
      });
    
    }); 
// =======================
  var depot_Str="";  
   
    // alert(url: base_url+'default/get_depot_list',)
    $.ajax({
      url: base_url+'default/get_depot_list',
      success: function(retStr) {
        // alert (retStr)
        depot_Str=retStr 
      }
    }); 
// alert (depot_Str)

// =================================
$('#depot_ID').keyup(function(){
      // alert('ok')
      //-------------------------
      var ref_list = depot_Str.split(',');  
      var ref_name=$("#depot_ID").val();
      // alert(ref_name)
      
      //---------------- auto complete combo list
      var ref_list_new1 =new Array();
      lc=0;
      i =0;
      var refStr="";        
      while (i < ref_list.length)
      {
        refStr=ref_list[i];
        i=i+1;          
        var res=refStr.toUpperCase().match(ref_name.toUpperCase());
        if (res!=null){
          ref_list_new1[lc]=refStr;
          lc=lc+1;
          if (lc==30){
            break;
          };
        }else{
          continue;
        }         
      };
      
      //-------------- auto complete source
      $( "input#depot_ID" ).autocomplete({
        source: ref_list_new1
      });
    
    }); 
// =======================

// -----------------------------------
});


</script>  


<table width="100%"   border="0" cellspacing="0" cellpadding="0" style="background-color:#F5F5F5;" >
 
  <tr  height="1px" >
  <td colspan="3" ></td>
  </tr>

  <tr>
    <td>
      
 

<table border="0" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF;" >
  <tr height="30px" >
    <td width="100%" style="background-color:#FFFFFF;" ><span class="blackCatTitle">&nbsp;Stock Inventory</span></td>
  <td width="500" >&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr  height="1px" style="background-color:#CCCCCC;">
  <td colspan="3" ></td>
  </tr>
</table>

<table width="90%" align="left" height="100%"  border="0"  cellpadding="0" cellspacing="0" style="margin-left:auto;margin-right:auto;background-color:#F5F5F5;" >
  
<tr>
  <td valign="middle">

    <form  name="form1" action="{{=URL(c='counter_item_stock',f='counter_item_stock')}}" method="post"  >
                      <!-- FILTERING BY USER TYPE -->

        <table width="91%" border="1" class="sample_border" style="background-color: #EBEBEB;" >
          
           <tr align="left" height="30px"; class="filterRow" style="background:#eee">
           <!-- <td width="100px" class="tdDecoratoin">
           
             <input type="text" class="text" name="searchValue_OpName" id="searchValue_OpName" value="{{#=session.depot_id}} | {{#=session.user_depot_name}}" readonly style="width:180px"/>
             
           </td> -->
          {{ if session.user_type == 'Admin':}}
           <td align="left" width="200px" style="padding-left: 10px;">
               {{if session.depot_ID=='' or session.depot_ID=='None' or session.depot_ID == None:}}                                         
               <input  name="depot_ID" type="text" id="depot_ID" size="25" value="" autocomplete="off" placeholder="Depot ID / Name" style="width:200px"/>
               {{else:}}
               <input  name="depot_ID" type="text" id="depot_ID" size="25" value="{{=session.depot_ID}}" autocomplete="off" style="width:200px"/>
               {{pass}}
           </td>
           {{pass}}

           
           <td align="left" width="200px" style="padding-left: 10px;">
               {{if session.item=='' or session.item=='None' or session.item == None:}}                                         
               <input  name="item_id" type="text" id="item_id" size="25" value="" autocomplete="off" placeholder="Item ID / Name" style="width:200px"/>
               {{else:}}
               <input  name="item_id" type="text" id="item_id" size="25" value="{{=session.item}}" autocomplete="off" style="width:200px"/>
               {{pass}}
           </td>
           
            <td class="tdDecoratoin inputSubmitStyle" align="left" style="padding-left: 10px;" >
             <input  type="submit" name="btn_filter" id="btn_filter" value="Filter" style="vertical-align:middle;height:30px ; width:60px;" class="button_update" title=""/>
             <input type="submit" name="btn_all" id="btn_all" value="All" style="vertical-align:middle;height:30px ; width: 50px;margin-left: 5px;"  class="button_update"/>
               
             </td>
            <td align="right">
            <a href="{{=URL(c='counter_item_stock',f='counter_item_stock_Download')}}" style="text-align:left;">
              <input type="button" name="Input2" id="Input2" value="Download" style="vertical-align:middle;height:30px ;"  class="button_update"/>
            </a>
            <!-- <a href="{{=URL(c='counter_invoice',f='counter_invoice_batch_upload')}}" style="text-align:left;">
              <input type="button" name="Input2" id="Input2" value="Batch Upload" style="vertical-align:middle;height:30px ;"  class="button_update"/>&nbsp;
            </a> -->
           </td>
           </tr>
           <tr>
             <td style="font-family: sans-serif;  font-weight: bold;">Total: {{=get_total_record}}</td>
           </tr>
      </table>

  </form>
          
        
                            <!-- SHOW ALL STOCK  -->

<table width="90%" border="1" cellpadding="0" cellspacing="0" class="sample_border" style="background-color:#F5F5F5;margin-left:5px;margin-right:auto;" >
      <tr class="blackCatHead" style="font-size:15px;">
         <td width="100px">Depot ID</td>
         <td width="120px">Store&nbsp;ID</td>
         <td width="120px">Store&nbsp;Name</td>
         <td width="120px" >Item ID</td>
         <td width="150px">Item Name </td>
         <td width="150px">Batch ID </td>
         <td width="150px">Expiary Date</td>
         <td width="150px" align="right">Total Stock</td>
         <td width="150px" align="right">Block Quantity</td>
         <td width="150px" align="right" >Available&nbsp;Stock</td>
         <td width="150px" align="right" >Counter&nbsp;Stock</td>
      </tr>

         {{
          item_name = ''
          available_qty = 0
          for item in range(len(depot_stock_balance)):
              records_ov_dict=depot_stock_balance[item]   
              record_id=str(records_ov_dict["id"])
              depot_id=str(records_ov_dict["depot_id"])
              store_id=str(records_ov_dict["store_id"])
              store_name=str(records_ov_dict["store_name"])
              item_id=str(records_ov_dict["item_id"])                                                                       
              item_name=records_ov_dict["item_name"]
              item_per_unit=records_ov_dict["item_per_unit"]
              batch_id=records_ov_dict["batch_id"]
              expiary_date=records_ov_dict["expiary_date"]
              quantity=(records_ov_dict["quantity"])
              block_qty=str(records_ov_dict["block_qty"])
              counter_qty=records_ov_dict["counter_qty"]
              available_qty = int(quantity) - int(block_qty)
              #result = 0 if counter_qty == 0 or item_per_unit == 0 else counter_qty / item_per_unit
          }}
          
          <tr align="left" class="blackCat"  style="vertical-align:middle; font-size:12px;"> 
            <td >{{=depot_id}}</td>
            <td >{{=store_id}}</td>
            <td >{{=store_name}}</td>
            <td >{{=item_id}}</td>
            <td >{{=item_name}}</td>
            <td >{{=batch_id}}</td>
            <td >{{=expiary_date}}</td>
            <td align="right" >{{=quantity}}</td>
            <td align="right" >{{=block_qty}}</td>
            <td align="right" >{{=int(available_qty)}}</td>
            <td align="right" >{{=counter_qty}}</td>
          </tr>
          
        {{pass}}
</table>

  </td>
  </tr>

  <tr>
    <td>
      {{if page_Number:}}
      <a href="{{=URL(args=[0])}}">First</a> | &nbsp;&nbsp;
      <a href="{{=URL(args=[page_Number-1 if page_Number>0 else 0])}}">Previous</a> |
      {{pass}}
      {{if len(depot_stock_balance)>=item_per_page:}}
      &nbsp;&nbsp;
      <a href="{{=URL(args=[page_Number+1])}}">Next &nbsp;&nbsp;</a>
      {{pass}}
    </td>
  </tr>
</table>

</td>
</tr>
</table>