{{extend 'layout.html'}}


 <link rel="stylesheet" href="{{=URL('static', 'js_and_css/ui.theme.css')}}" type="text/css" />
  <link rel="stylesheet" href="{{=URL('static', 'js_and_css/jquery-ui.css')}}" type="text/css" />
  <link rel="stylesheet" href="{{=URL('static', 'js_and_css/style.css')}}" type="text/css" />
  <script src="{{=URL('static','js_and_css/jquery-1.8.2.js')}}"></script>
  <script src="{{=URL('static','js_and_css/jquery-ui.js')}}"></script>
<style>
body {
  font-family: "Lato", sans-serif;
}



#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
 
  <style type="text/css">
 input[type=text], input[type=password],  select {
    margin: 2px 0px 2px 0px;
	width:250px;
}

select{ width:265px; margin:2px 0px 2px 0px;}

textarea{
    width:250px;
	height:50px;
	margin:2px 0px 2px 0px;
}

div.error {
    margin-left:0px;
	width:265px;
}
.page_color,body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	}
	
#uni_middle_str4{
width:100px;
}

 </style>

<script>


   var base_url=location.protocol + "//" + location.hostname + (location.port && ":" + location.port) + "/{{=request.application}}/";

$(function() {
 
 var doctor_typeStr="";  
   
    // alert(base_url+'doctor_speciality/speciality_list')
    $.ajax({
      url: base_url+'doctor_type/doctor_type_list',
      success: function(retStr) {
        // alert (retStr)
        doctor_typeStr=retStr 
      }
    }); 
// alert (doctor_typeStr)

// =================================
$('#searchValue_OpName').keyup(function(){
      // alert('ok')
      //-------------------------
      var ref_list = doctor_typeStr.split(',');  
      var ref_name=$("#searchValue_OpName").val();
      // alert(ref_name)
      
      //---------------- auto complete combo list
      var ref_list_new=new Array();
      lc=0;
      i =0;
      var refStr="";        
      while (i < ref_list.length)
      {
        refStr=ref_list[i];
        i=i+1;          
        var res=refStr.toUpperCase().match(ref_name.toUpperCase());
        if (res!=null){
          ref_list_new[lc]=refStr;
          lc=lc+1;
          if (lc==30){
            break;
          };
        }else{
          continue;
        }         
      };
      
      //-------------- auto complete source
      $( "input#searchValue_OpName" ).autocomplete({
        source: ref_list_new
      });
    
    }); 
// =======================
 
// -----------------------------------
});


</script>  


<table border="0" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF;" >
  <tr height="30px" >
    <td width="35%" style="background-color:#FFFFFF;" ><span class="blackCatTitle">&nbsp;Doctor Type</span></td>
    <form action="{{=URL(c='doctor_degree',f='degree_add')}}" method="post">
      <td width="200" align="right"><input name="" type="submit"  value="Back"/></td>
  </form>
  <td width="500" >&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr  height="1px" style="background-color:#CCCCCC;">
  <td colspan="3" ></td>
  </tr>
</table>


<table width="50%" align="left" height="100%" border="0"  cellpadding="0" cellspacing="0" style="margin-left:auto;margin-right:auto;" >
  
  <tr>
    <td >

      <form  name="form1" action="{{=URL(c='doctor_type',f='doctor_type')}}" method="post"  >
        <table width="100%" border="1" class="sample_border" >
             <tr align="left" height="30px"; class="filterRow" style="background:#eee">
             <td width="200px" class="tdDecoratoin">        
               {{if session.searchValue_OpName=='' or session.searchValue_OpName==None:}}
               <input type="text" class="text" name="searchValue_OpName" id="searchValue_OpName" value="" placeholder="Doctor Type" autocomplete="off" style="width:200px"/>
               {{else:}}
                <input type="text" name="searchValue_OpName" id="searchValue_OpName" value="{{=session.doctor_type}}" autocomplete="off" style="width:200px"/>
               {{pass}}
             </td>
              <td align="left" class="tdDecoratoin inputSubmitStyle">
               <input type="submit" name="btn_filter" id="btn_filter" value="Filter" style="vertical-align:middle;height:30px ; width: 60px;" class="button_update" title=""/>
               <input type="submit" name="btn_all" id="btn_all" value="All" style="vertical-align:middle;height:30px; width: 60px;"  class="button_update"/>
             </td>
             <td align="right">
              <a href="{{=URL(c='doctor_type',f='doctor_type_Download')}}" style="text-align:left;">
                <input type="button" name="Input2" id="Input2" value="Download" style="vertical-align:middle;height:30px ;"  class="button_update"/>
              </a>
            </td>
             </tr>
      </table>

                    <!-- INSERT ADMIN / OPERATOR -->
      <table width="100%" class="sample_border" style="background-color:#F5F5F5" >
        <tr >
            <td colspan="2" style="font-family: sans-serif;  font-weight: bold;">Total:{{=(len(doctor_type_row))}}</td>
        </tr>
        <tr align="left" class="blackCat"  style="vertical-align:middle; font-size:12px; background-color: #EBEBEB;">
          <td colspan="2" width="100px" style="vertical-align: middle;">Doctor&nbsp;Type</td>
        </tr>
        <tr >
          <td width="80%">
            <input  type="text" name="doctor_type" id="doctor_type" size="10"style="width:200px" placeholder="Insert Doctor Type"/>
          </td>
          <td align="right" >
            <input type="submit" name="submit" id="submit" value="Save" style="vertical-align:middle;height:30px ;" class="button_update" title=""/>
          </td>
        </tr>
      <!-- </table> -->
  </form>
    
<!-- <table width="97%" border="1" cellpadding="1" cellspacing="1" class="sample_border" style="margin:15px"> -->

         {{
            for i in range(len(doctor_type_row)):
              records_ov_dict=doctor_type_row[i]   
              doc_type_name=str(records_ov_dict["doc_type_name"])                                         
              record_ID=str(records_ov_dict["id"])                                         
          }}

          <tr  align="left" class="blackCat"  style="vertical-align:middle; font-size:12px;"> 
            <td>{{=doc_type_name}}</td>
            
             <form  name="form2" action="{{=URL(c='doctor_type',f='doctor_type_edit',args=[record_ID,doc_type_name])}}" method="post">
                  <td align="right" width="150"style="vertical-align:top;">
                      <button type="submit" name="btn_edit" id="btn_edit" value="" style="background-color: transparent;border: none;">>>
                      </button> 
                  </td>
              </form> 
          </tr>
        {{pass}}
      </table> 

  </td>
  </tr>
 
</table>
   </td>
<!-- <form  name="form1" action="{{#=URL(c='doctor_type',f='doctor_type_delete',args=[record_ID])}}" method="post"  >
              <td align="right">
                <button type="submit" name="btn_delete" id="btn_delete" value="" style="background-color: transparent;border: none;" onclick="if (!confirm('Do you really want to delete?')) { return false }">X</button> 
              </td>
            </form> --> 
</tr>
</table>